.ge_code-block-container{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ge_code-block{
    background: rgb(40, 44, 52);
    resize: none;
    border-radius: 5px;
    color: white;
}

.ge_code-block-text{
    height: 0px;
    margin: -10px 0px 0px 0px;
    z-index: -999;
}