.ge_count-down-container{
    /* background: purple; */
    width: 100%;
}

.ge_count-down-header{
    /* background: red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px 0px 15px 0px;
}

.ge_timer-section{
    /* background: purple; */
    margin: 10px 0px 20px 0px;
}

.ge_cd-add-timer{
     /* background: red; */
     display: flex;
     justify-content: left;
     align-items: center;
     margin: 0px 0px 10px 0px;
}

.ge_cd-add-timer > input{
    margin: 0px 0px 0px 10px;
}

.ge_count-down-header h1{
    width: 100%;
    border-bottom: solid 3px #000000;
}

.ge_count-down-form{
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

.ge_cd-showdays-section{
    /* background: red; */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.ge_cd-showdays-wrapper{
    /* background: yellow; */
    margin: 0px 50px 0px 0px;
}

.ge_cd-textfields-section{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ge_cd-textfields-section > h3{
    margin: 10px 0px;
    padding: 0px;
}

.ge_cd-text-section{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.ge_cd-text-section-wrapper{
    margin: 0px 50px 0px 0px;
}

.ge_cd-subtext-section{
    /* background: green; */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 0px 0px 20px 0px;
}

.ge_cd-subtext-section-wrapper{
    margin: 0px 50px 0px 0px;
}

.ge_cd-add-subext{
    margin: 20px 0px;
}

.ge_cd-textfields-container{
    margin: 20px 0px 0px 0px;
}

.ge_cd-add-text-field{
    /* background: red; */
}

.ge_cd-add-text-field > button{
    width: 150px;
    height: 30px;
}

.ge_cd-section{
    /* background: blue; */
    margin: 0px;
}

.ge_cd-section-a{
    /* background: pink; */
    display: flex;
    justify-content: left;
    margin: 5px 0px;
}

.ge_cd-section-b{
    /* background: red; */
    width: 40%;
    margin: 5px 0px;
}

.ge_cd-section-b:nth-child(even){
    margin: 5px 0px 0px 40px;
}

.ge_cd-section-c{
    /* background: yellow; */
    margin: 5px 0px;
}

.ge_cd-section-c-input-style{
    background: rgb(40, 44, 52);
    width: 100%;
    margin: 5px 0px;
    padding: 7px;
    border: solid 1px gray;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.ge_count-down-markets{
    /* background: red; */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin: 10px 0px 0px 0px;
}

.ge_count-down-markets-container{
    /* background: blue; */
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.ge_count-down-markets-container > label{
    padding: 10px 10px 0px 0px;
}

.ge_count-down-markets-container > ul{
    /* background: pink; */
    width: 150px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.ge_count-down-markets-container > ul > li{
    background: rgb(40, 44, 52);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    border-radius: 3px;
    color: white;
}

.ge_cd-last-days{
    /* background: yellow; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0px 0px 0px 20px;
}

.ge_cd-last-days-container{
    /* background: pink; */
    padding: 15px;
}

.ge_cd-last-days > label{
    padding: 10px 10px 0px 15px;
}

.ge_cd-dst-and-layout{
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0px 0px 0px 20px;
}

.ge_cd-dst-and-layout > label{
    padding: 10px 10px 0px 15px;
}

.ge_cd-dst-and-layout-container{
    /* background: pink; */
    padding: 15px;
}

.ge_cd-input-style{
    background: rgb(40, 44, 52);
    width: 100%;
    /* height: 33px; */
    margin: 5px 0px;
    padding: 7px;
    border: solid 1px gray;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }

.ge_cd-select-style{
    background: rgb(40, 44, 52);
    width: 100%;
    height: 33px;
    margin: 5px 0px;
    padding: 7px;
    border: solid 1px gray;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  }