.ge_hero-banner-container{
    background: blue;
    width: 100%;
}

.ge_hb-drop-shadow-widget{
    background: greenyellow;
    width: 100%;
}

.ge_hb-drop-shadow-widget-container{
    background: lightcoral;
    width: 100%;
}