.ge_button{
    background: #005edc;
    width: 150px;
    height: auto;
    padding: 12px 4px 12px 4px;
    color: white;
    float: left;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.ge_button:active{
    background: #15264C;
    transform: scale3d(0.95, 0.95, 0.95);
}
