.ge_other-pills{
    background: #F0544f;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

.ge_other-pill-param{
    /* background: blue; */
    margin: 2px 0px 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ge_other-pill-param label, .ge_other-pill-param p{
    /* background: darkred; */
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 800;
}