.ge_markets{
    /* background: red; */
    width: 1160px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1px 0px 0px 0px;
}

.ge_market-name{
    background: palevioletred;
    width: 45px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
    font-weight: 400;
    margin: 0px 0.5px 0px 0.5px;
    text-align: center;
    font-weight: bold;
}

.ge_promo-offers{
    background: blue;
    width: 100%;
    height: 50px;
    margin: 0px 0.5px 0px 0.5px;
}