.ge_promo-studio-footer{
    background: #15264C;
    width: 100%;
    height: 200px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ge_promo-studio-footer figure{
    color: #ffffff;
    font-size: 12px;
}