html, body, #root, .App{
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

/* .ge_promo-studio-link-a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

.ge_promo-studio-switch{
  background: red;
  width: 90%;
}

.ge_view-container{
  width: 90%;
  height: 100%;
}

.ge_input-style{
  background: rgb(40, 44, 52);
  width: 50%;
  margin: 5px 0px;
  padding: 7px;
  border: solid 1px gray;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.ge_select-style{
  background: rgb(40, 44, 52);
  width: 150px;
  margin: 5px 0px;
  padding: 7px;
  border: solid 1px gray;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.ge_generate-code-btn{
  text-decoration: none;
  color: white;
}
 */
